@charset "utf-8";

// Variables
$mainColor: #F29364;

body,
section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  color: #333;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

// Header
header {
  text-align: center;
  .wrapper {
    padding: 60px 0;
  }
  .band {
    color: #fff;
    padding: 20px 0;
    background: $mainColor;
  }
}

// Main contents
#container {
  padding: 100px 0;
  background: #f0f0f0;
  .content {
    display: flex;
  }
}

main {
  flex: 2;
}

.side {
  flex: 1;
}